:root {
    --main-color: #0c47c9;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resume {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    /* grid-template-columns: 1fr; */
    grid-template-areas:
      "photo"
      "name"
      "about"
      "work"
      "education"
      "skills"
      "community"
      "references";
    grid-gap: 1.5em;
    font-family: 'Lato', sans-serif;
    padding: 1.5em;
}

.resume section h1 {
    font-size: 2.5em;
}

.resume section h2 {
    font-size: 1.5em;
    color: var(--main-color);
}

.resume section h3 {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--main-color);
    text-transform: uppercase;
    padding: 1em 0;
    font-size: 1.2em;
    color: var(--main-color);
}

.name {
    grid-area: name;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo {
    grid-area: photo;
    display: flex;
    justify-content: center;
}

.photo img {
    max-width: 200px;
    max-height: 200px;
}

.about {
    grid-area: about;
}

.work {
    grid-area: work;
}

.education {
    grid-area: education;
}

.community {
    grid-area: community;
}

.skills {
    grid-area: skills;
}

@media (min-width: 900px) {
    .resume {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
          "name photo"
          "about about"
          "work work"
          "education education"
          "skills skills"
          "community community"
          "references references";
    }
    .name {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .resume {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "name photo"
            "work about"
            "work education"
            "community skills";
        border: 1px solid #a0a0a0;
        box-shadow: 5px 5px 10px #a0a0a0;
        margin: 1.5em;
    }
    .photo {
        justify-content: flex-start;
    }
}